<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Juego</title>
</head>
<body>
  <p>
    Jugadores conectados
    <ul id="jugadores">
      Nadie conectado
    </ul>
    <p>
      Jugador 1
      <label id="primerJugador"></label>
    </p>
    <p>
      Jugador 2
      <label id="segundoJugador"></label>
    </p>
  </p>
  <img id="imagen" width="50" height="50∫">
  <a id="cerrar">Salir del juego</a>
  <input type="hidden" id="ip" value="{{ ip }}">
  <input type="hidden" id="nombre" value="">
  <script src="js/global.js"></script>
  <script src="js/juego.js"></script>
</body>
</html>
